<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ship Cockpit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bunle.min.js"></script>


<style>

body {
background-image: url("https://staticdelivery.nexusmods.com/mods/2188/images/17/17-1663271656-480869147.png");
background-repeat: no-repeat;
}


</style>
</head>

<body>

<form th:action="@{/ship/landOnPlanet/}" method="post">
<button id="buttonLandOnPlanet" style="opacity: 0; position: absolute; top: 775px; left: 1195px"> Try it</button>
</form>
<p id="landOnPlanetText" style=" visibility: hidden; color: green; position: absolute; top: 775px; left: 1290px" >Land on planet</p>


<form th:action="@{/moveShip/up/}" method="post">
<button id="up" type="submit" class="btn btn-dark" style="padding: 3px; position: absolute; color: green; top: 705px; left: 1070px" >⮝</button>
</form>

<form th:action="@{/moveShip/down/}" method="post">
<button id="down" type="submit" class="btn btn-dark" style="padding: 3px; position: absolute; color: green; top: 745px; left: 1070px">⮟</button>
</form>

<form th:action="@{/moveShip/left/}" method="post">
<button id="left" type="submit" class="btn btn-dark" style="padding: 3px; position: absolute; color: green; top: 725px; left: 1040px"  >⮜</button>
</form>

<form th:action="@{/moveShip/right/}" method="post">
<button id="right" type="submit" class="btn btn-dark" style="padding: 3px; position: absolute; color: green; top: 725px; left: 1100px" >⮞</button>
</form>

<p id="a0" style="color:green; font-family: Times New Roman; font-size: 15px; rotate: -0deg; position: absolute; top: 705px; left: 810px" th:text="${universe.get(0)}"></p>
<p id="a1" style="color:green; font-family: Times New Roman; font-size: 15px; rotate: -0deg; position: absolute; top: 720px; left: 810px" th:text="${universe.get(1)}"></p>
<p id="a2" style="color:green; font-family: Times New Roman; font-size: 15px; rotate: -0deg; position: absolute; top: 735px; left: 810px" th:text="${universe.get(2)}"></p>
<p id="a3" style="color:green; font-family: Times New Roman; font-size: 15px; rotate: -0deg; position: absolute; top: 750px; left: 810px" th:text="${universe.get(3)}"></p>
<p id="a4" style="color:green; font-family: Times New Roman; font-size: 15px; rotate: -0deg; position: absolute; top: 765px; left: 810px" th:text="${universe.get(4)}"></p>
<p id="a5" style="color:green; font-family: Times New Roman; font-size: 15px; rotate: -0deg; position: absolute; top: 780px; left: 810px" th:text="${universe.get(5)}"></p>
<p id="a6" style="color:green; font-family: Times New Roman; font-size: 15px; rotate: -0deg; position: absolute; top: 795px; left: 810px" th:text="${universe.get(6)}"></p>
<p id="a7" style="color:green; font-family: Times New Roman; font-size: 15px; rotate: -0deg; position: absolute; top: 810px; left: 810px" th:text="${universe.get(7)}"></p>
<p id="a8" style="color:green; font-family: Times New Roman; font-size: 15px; rotate: -0deg; position: absolute; top: 825px; left: 810px" th:text="${universe.get(8)}"></p>
<p id="a9" style="color:green; font-family: Times New Roman; font-size: 15px; rotate: -0deg; position: absolute; top: 840px; left: 810px" th:text="${universe.get(9)}"></p>

<p id="mainCoordinatesX" style="color:green; position: absolute; top: 765px; left: 480px" th:text="main_coordinates_X....+${mainCoordinatesX}"></p>
<p id="mainCoordinatesY" style="color:green; position: absolute; top: 785px; left: 480px" th:text="main_coordinates_Y....+${mainCoordinatesY}"></p>



<script>

    document.getElementById("buttonLandOnPlanet").addEventListener("mouseout", function hide(){
    document.getElementById("landOnPlanetText").style.visibility = "hidden";

    });

    document.getElementById("buttonLandOnPlanet").addEventListener("mouseover", function hide(){
    document.getElementById("landOnPlanetText").style.visibility = "visible";

    });

</script>




</body>
</html>