<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


<style>

body {
background-image: url("https://i.imgur.com/RqK9FA2.png");
background-position: right 50% bottom 110%;
background-repeat: no-repeat;

}

</style>


</head>
<body>

<form th:action="@{/universe/cockpit/improveInterstellarEngine/}" method="post">
    <button id="buttonImproveShip" style="position: absolute; top: 530px; left: 1350px"> Improve interstellar engine</button>
</form>



</body>
</html>