<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lander Cockpit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bunle.min.js"></script>
    <audio src="https://incompetech.com/music/royalty-free/mp3-royaltyfree/Unseen%20Horrors.mp3" loop autoplay></audio>

<style>
body{
background-image: url("https://scontent.fktw1-1.fna.fbcdn.net/v/t1.15752-9/380107829_1013793886552383_5709514949136883497_n.png?_nc_cat=105&ccb=1-7&_nc_sid=8cd0a2&_nc_ohc=4JUxkEhbpxoAX-LJcCk&_nc_ht=scontent.fktw1-1.fna&oh=03_AdR20u6BqdX3YqE0dHTkhnXKkySrXx5KLVY8vREkQnM4Pw&oe=6560A485");
background-repeat: no-repeat;

}
</style>
</head>



<body>

<form th:action="@{/moveShipInPlanet/up/}" method="post">
    <button id="up" type="submit" class="btn btn-dark" style="padding: 3px; position: absolute; color: GoldenRod; top: 325px; left: 730px" >⮝</button>
</form>

<form th:action="@{/moveShipInPlanet/down/}" method="post">
    <button id="down" type="submit" class="btn btn-dark" style="padding: 3px; position: absolute; color: GoldenRod; top: 375px; left: 730px" >⮟</button>
</form>

<form th:action="@{/moveShipInPlanet/left/}" method="post">
    <button id="left" type="submit" class="btn btn-dark" style="padding: 3px; position: absolute; color: GoldenRod; top: 350px; left: 690px" >⮜</button>
</form>

<form th:action="@{/moveShipInPlanet/right/}" method="post">
    <button id="right" type="submit" class="btn btn-dark" style="padding: 3px; position: absolute; color: GoldenRod; top: 350px; left: 770px" >⮞</button>
</form>

<form th:action="@{/planet/startFromPlanet/}" method="post">
    <button id="startFromPlanet" type="submit" class="btn btn-dark" style="opacity: 0; padding: 3px; position: absolute; color: red; top: 770px; left: 1172px" >⮞</button>
</form>
<p id="startFromPlanetText" style=" visibility: hidden; color: GoldenRod; position: absolute; top: 741px; left: 1030px" >Start from planet</p>


<p id="a0" style="color:GoldenRod; font-family: Times New Roman; font-size: 13px; rotate: -0deg; position: absolute; top: 545px; left: 777px" th:text="${planetMap.get(0)}"></p>
<p id="a1" style="color:GoldenRod; font-family: Times New Roman; font-size: 13px; rotate: -0deg; position: absolute; top: 560px; left: 777px" th:text="${planetMap.get(1)}"></p>
<p id="a2" style="color:GoldenRod; font-family: Times New Roman; font-size: 13px; rotate: -0deg; position: absolute; top: 575px; left: 777px" th:text="${planetMap.get(2)}"></p>
<p id="a3" style="color:GoldenRod; font-family: Times New Roman; font-size: 13px; rotate: -0deg; position: absolute; top: 590px; left: 777px" th:text="${planetMap.get(3)}"></p>
<p id="a4" style="color:GoldenRod; font-family: Times New Roman; font-size: 13px; rotate: -0deg; position: absolute; top: 605px; left: 777px" th:text="${planetMap.get(4)}"></p>
<p id="a5" style="color:GoldenRod; font-family: Times New Roman; font-size: 13px; rotate: -0deg; position: absolute; top: 620px; left: 777px" th:text="${planetMap.get(5)}"></p>
<p id="a6" style="color:GoldenRod; font-family: Times New Roman; font-size: 13px; rotate: -0deg; position: absolute; top: 635px; left: 777px" th:text="${planetMap.get(6)}"></p>
<p id="a7" style="color:GoldenRod; font-family: Times New Roman; font-size: 13px; rotate: -0deg; position: absolute; top: 650px; left: 777px" th:text="${planetMap.get(7)}"></p>
<p id="a8" style="color:GoldenRod; font-family: Times New Roman; font-size: 13px; rotate: -0deg; position: absolute; top: 665px; left: 777px" th:text="${planetMap.get(8)}"></p>
<p id="a9" style="color:GoldenRod; font-family: Times New Roman; font-size: 13px; rotate: -0deg; position: absolute; top: 680px; left: 777px" th:text="${planetMap.get(9)}"></p>


<script>

    document.getElementById("startFromPlanet").addEventListener("mouseout", function hide(){
    document.getElementById("startFromPlanetText").style.visibility = "hidden";

    });

    document.getElementById("startFromPlanet").addEventListener("mouseover", function hide(){
    document.getElementById("startFromPlanetText").style.visibility = "visible";

    });

</script>









</body>
</html>